@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #0b1326;
  --foreground: #121a2d;
  --primary: #cec0fe;
  --edge-primary: #293144;
  --secondary: #dbe1fc;
  --highlight-primary: #4cd7ea;
  --button-primary: linear-gradient(135deg, #8b5cf6, #7c3aed);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-edge-primary: var(--edge-primary);
  --color-highlight-primary: var(--highlight-primary);
  --color-button-primary: var(--button-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-headline: var(--font-montserrat);
  --font-label: var(--font-geist);
}

html,
.body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 0;
  overflow-x: none;
  overscroll-behavior-x: none;
  background: var(--background);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1326;
    --foreground: #121a2d;
    --primary: #cec0fe;
  }
}
