@import "tailwindcss";

:root {
  --background: #0b1326;
  --foreground: #121a2d;
  --primary: #cec0fe;
  --border-primary: #293144;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-: var(--border-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-headline: var(--font-montserrat);
}

html,
.body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 0;
  overflow-x: none;
  overscroll-behavior-x: none;
  background: var(--background);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1326;
    --foreground: #121a2d;
    --primary: #cec0fe;
  }
}
